<div class="comment-form">
  <p><strong>Adicionar comentário</strong></p>
  <form [formGroup]="formComment">
    <textarea formControlName="Comment" id="comment" cols="30" rows="5"></textarea>
  </form>
  <div class="comment-form__buttons">
    <button
      class="btn btn-success pull-right"
      (click)="openModalApprove()">
      Aprovar
    </button>
    <button
      class="btn btn-warning pull-right"
      (click)="openModalDeny()">
      Recusar solicitação
    </button>
  </div>
</div>

<ngx-smart-modal #denyModal identifier="denyModal">
  <app-modal-deny
    (emitCloseModal)="closeModal($event)"
    (emitDenySignal)="completeTask($event)">
  </app-modal-deny>
</ngx-smart-modal>

<ngx-smart-modal #approveModal identifier="approveModal">
  <app-modal-approve
    (emitCloseModal)="closeModal($event)"
    (emitAproveSignal)="completeTask($event)">
  </app-modal-approve>
</ngx-smart-modal>
