<div class="box">
  <app-grid
    gridTitle="Products List"
    [gridLoading]="gridLoading"
    [gridHeaders]="gridHeaders"
    [gridRows]="gridRows"
    [gridActions]="gridActions"
    [gridData$]="gridData$"
    (sendActionEmitter)="productTableActions($event)">
  </app-grid>
  <!-- <app-table [tableData$]="tableData$" [tableHeaders]="tableHeaders" [tableRows]="tableRows"
    [tableActions]="tableActions" (sendActionEmitter)="deleteRowItem($event)" >
  </app-table> -->
  <app-modal-confirm
  *ngIf="showConfirmDeleteModal"
  [title]="modalTitle"
  [message]="modalDeleteMessage"
  (confirm)="onConfirmDeleteModal()"
  (cancel)="onCancelDeleteModal()">
  </app-modal-confirm>

</div>