<div class="container create-flex-condition">
  <div *ngIf="hasParamId" class="create-flex-condition__back">
    <a (click)="location.back()">Voltar</a>
  </div>

  <div class="box">
    <h2>Criar condições mínimas de flex</h2>

    <app-form-create-flex-condition
      #formFlexTable
      (formFlexEmitter)="addFlex($event)">
    </app-form-create-flex-condition>

    <app-table
      [tableData$]="tableData$"
      [tableHeaders]="tableHeaders"
      [tableRows]="tableRows"
      [tableActions]="tableActions"
      (sendActionEmitter)="deleteRowItem($event)">
    </app-table>

    <div class="row">
      <button (click)="sendFlexTable()" class="btn btn-success pull-right">Enviar</button>
    </div>
  </div>
</div>
