<form [formGroup]="formCreateFlex" class="form-create">
  <div class="row">
    <div class="col-xs-3">
      <label for="EffectiveDate-input">Início da vigência</label>
      <input type="date" formControlName="EffectiveDate" id="EffectiveDate-input" required>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <label for="PaymentProduct-select">Produto pagamento</label>
      <select [formControl]="formFlex.get('PaymentProduct')" id="PaymentProduct-select">
        <option value="" selected>Escolha uma opção</option>
        <option *ngFor="let option of paymentProductOptions" value="{{ option?.Id }}">{{ option?.Name }}</option>
      </select>
    </div>
    <div class="col-xs-4">
      <label for="Modality-select">Modalidade</label>
      <select [formControl]="formFlex.get('Modality')" id="Modality-select">
        <option value="" selected>Escolha uma opção</option>
        <option *ngFor="let option of modalityOptions" value="{{ option?.Id }}">{{ option?.Name }}</option>
      </select>
    </div>
    <div class="col-xs-1">
      <button
        type="button"
        class="form-create__include"
        (click)="addFlexCondition()">
        + incluir
      </button>
    </div>
  </div>

  <div class="form-create__errors">
    <ul>
      <li *ngIf="EffectiveDate.touched && EffectiveDate.errors?.minDateTomorrowValidator">
        A data de início da vigência tem que ser maior que a data atual.
      </li>
    </ul>
  </div>
</form>
