@import 'main-styles';

.form-create {

  label {
    &:after {
      content: '*';
      padding-left: 3px;
      color: $color-brand-pumpkin;
    }
  }

  select {
    padding: 10px 2px;
  }

  button {
    padding: 0;
    border: 0;
    background: transparent;
  }

  .row {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;

    &:last-of-type {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }

  &__include {
    @include hyperlink;
  }

  &__errors {
    margin-top: 40px;
    color: $color-brand-pumpkin;

    ul {
      padding: 0 0 0 14px;
    }
  }
}
