@import 'main-styles';

.detail-flex-condition {
  h2 {
    margin: 25px 0;
  }

  &__info {
    margin-top: 30px;
    text-transform: lowercase;
  }

  &__comment {
    margin: 30px 0;

    strong {
      text-transform: lowercase;
    }
  }

  &__duplicate {
    @include hyperlink;
    display: inline-block;
    margin-bottom: 30px;
  }

  &__back {
    @include hyperlink;
    margin: 20px 0 -15px;
    text-transform: lowercase;
  }
}
