/* BASIC COLORS */
$color-black: #231D19;
$color-font: #605751;
$color-white: #FFF;

/* GRAYSCALE COLORS */
$color-gray-00: #FAFAFA;
$color-gray-10: #F9F6F5;
$color-gray-20: #CECECE;
$color-gray-30: #969290;

/* BRAND COLORS */
$color-brand-pumpkin: #EC7000;

/* OTHER COLORS */
$color-orange: #FF9B00;
$color-hyperlink: #018486;
$color-success: #007A47;
$color-warning: #B71C1C;
